{% extends "base.html" %}

{% block header %}
  {{ readme | safe }}

  <h2>Albums</h2>

  <section id="contents">
    <ul>
      {% for album in albums %}
        <li>
          <a href="#{{ album.title | slugify }}">
            {{ album.title }} ({{ album.year }})
          </a>

          <ol>
            {% for track in album.tracks %}
              <li>
                <a href="#{{ track.title | slugify }}">
                  {{ track.title }}
                </a>
              </li>
            {% endfor %}
          </ol>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}

{% block content %}
  {% for album in albums %}
    <h2 id="{{ album.title | slugify }}">{{ album.title }} ({{ album.year }})</h2>

    {% for track in album.tracks %}
      <section id="{{ track.title | slugify }}">
        <h3>{{ track.number }}. {{ track.title }}</h3>
        <pre>{{ track.lyrics }}</pre>
      </section>
    {% endfor %}
  {% endfor %}
{% endblock %}
